name: Experimental release

on:
  push:
    tags:
      - 'experimental-*'
      
env:
  # <dotnet arch>:<appimagetool arch> <dotnet arch>:<appimagetool arch> ...
  PUBLISHED_APPIMAGE_ARCHS: linux-x64:x86_64

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    
    - name: Set build vars
      id: buildvars
      run: |
        echo "version_string=$(echo '${{ github.ref_name }}' | sed 's@experimental-@@')" >> $GITHUB_OUTPUT
        echo "builddate=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
        echo "builddate2=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
        echo "builddate3=$(date +'%Y%m%d%H%M')" >> $GITHUB_OUTPUT
        echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Build all architectures
      run: |
        mkdir -p "all-outputs"
        for a in $PUBLISHED_APPIMAGE_ARCHS
        do
          arch_parts=($(echo $a | tr ":" "\n"))
          ARCH_DOTNET="${arch_parts[0]}"
          ARCH_APPIMAGEKIT="${arch_parts[1]}"
          OUTPUT_DIR="output-${ARCH_DOTNET}"

          mkdir -p "${OUTPUT_DIR}/appimage"
          publish/scripts/create-appimage.sh "${ARCH_DOTNET}" "${ARCH_APPIMAGEKIT}" "${{ steps.buildvars.outputs.version_string }}" "${OUTPUT_DIR}/appimage"
          cp ${OUTPUT_DIR}/appimage/release/* all-outputs/

          mkdir -p "${OUTPUT_DIR}/deb"
          publish/scripts/create-deb.sh -p src/VideoConversionApp/VideoConversionApp.csproj -a "${ARCH_DOTNET}" -v "${{ steps.buildvars.outputs.version_string }}" -d publish/deb -o "${OUTPUT_DIR}/deb" -c
          cp ${OUTPUT_DIR}/deb/*.deb all-outputs/
        done
      
    - name: Create release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        fail_on_unmatched_files: true
        name: "MAX Video Converter ${{ github.ref_name }} - experimental build"
        files: |
          all-outputs/*
          
